<div class="popup-backdrop">
  <div class="popup-content">
    <span class="close botaoFechar" mat-button (click)="closeDialog()">&times;</span>
    <h2>Para receber avisos de editais recentes em primeira mão, cadastre-se agora.</h2>
    <form>
      <div class="grid">
        <mat-form-field class="example-full-width">
          <input matInput type="text" class="input-centered" placeholder="Nome completo" id="nome" name="nome" required>
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
          <input matInput class="input-centered" placeholder="Email" type="email" id="email" name="email" required>
        </mat-form-field>
        <br><br>
        <button class="cadastro" type="submit">CADASTRAR</button>
        <br><br>
        <button (click)="closeDialog()" type="submit">CANCELAR</button>
      </div>
    </form>
  </div>
</div>