h2{
  width: 476px;;
}

.popup-backdrop{
  padding: 20px;
}

input{
  text-align: center;
}

button:hover{
  cursor: pointer;
}

.cadastro{
  color: white;
  background-color: #2A8168;
}

.sucesso{
  display: flex;
  justify-content: center;
  
}

.botaoFechar{
  display: flex;
  justify-content: end;
}


.botaoFechar:hover{
  cursor: pointer;
}

.grid {
  text-align: center; /* Centraliza o texto digitado */
}

.grid button{
  width: 412px;
  height: 63px;
}

.grid mat-form-field {
  width: 412px;
}

.grid::placeholder {
  text-align: center; /* Centraliza o placeholder */
  width: 100%; /* Garante que o placeholder ocupe toda a largura */
  display: inline-block; /* Necessário para o alinhamento funcionar */
}
