@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mdc-line-ripple {
    display: none !important;
  }

html, body {
  overflow: visible !important;
  position: relative;
  margin: auto !important;
  font-family: 'Koulen', sans-serif !important;
}

:host ::ng-deep .mat-form-field-wrapper{
  margin: 0 !important;
  padding: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: transparent !important;
}

.mat-mdc-form-field-subscript-wrapper {
  margin: 0;  /* Remove qualquer margem */
  padding: 0; /* Remove qualquer padding */
}

.mat-mdc-form-field-bottom-align {
  align-items: center; /* Ajusta o alinhamento dos itens */
  height: 0px; /* Ajusta a altura para ocupar o mínimo possível */
}

.mat-mdc-outlined-button:hover{
  background-color: #2A8168 !important;
  color: white !important;
}

mat-progress-bar {
  background-color: #2A8168 !important;  /* Sua cor personalizada */

}

.mat-mdc-progress-bar{
  --mdc-linear-progress-active-indicator-color: #104133 !important
}

