<div class="container-fluid">
  <div class="header d-flex justify-content-end align-items-center bg-dark p-2">
    <div class="icones">
      <span>Contatos: </span>
      <a href="https://www.facebook.com" target="_blank" class="text-white mx-1">
        <img src="assets/icons/facebookIcon.png" alt="Facebook" class="icon-img">
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-white mx-1">
        <img src="assets/icons/instagramIcon.png" alt="Instagram" class="icon-img">
      </a>
      <a href="https://wa.me/seunumerodetelefone" target="_blank" class="text-white mx-1">
        <img src="assets/icons/whatsappIcon.png" alt="WhatsApp" class="icon-img">
      </a>
    </div>
  </div>
</div>
<div class="titulo text-center">
  <h1>SENAC CRAWLERS</h1>
</div>
<div class="opcoes">
  <div class="filters-container d-flex justify-content-between">
    <mat-form-field class="no-padding" appearance="fill" style="flex: 1; margin-right: 10px;">
      <mat-select [(ngModel)]="selectedBanca">
        <mat-option value="" disabled>BANCA</mat-option>
        <mat-option *ngFor="let banca of bancas" [value]="banca">{{banca}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="no-padding" appearance="fill" style="flex: 2;">
      <mat-label>Filtrar por nome da banca</mat-label>
      <input matInput placeholder="Digite o nome da banca">
    </mat-form-field>

    <button style="margin-bottom: 20px;" mat-raised-button class="consultar-btn"
      style="margin: 10px 0px 0px 10px; height: 40px;">CONSULTAR</button>
  </div>
</div>
<br><br>
<div class="aqui">
  <div *ngFor="let edital of paginatedEditais" class="main">
    <h2>{{ edital.titulo }}</h2>
    <br>
    <b><span>Descrição:</span></b>
    <article>
      "{{ edital.descricao }}"
    </article>
    <br>
    <div class="description">
      <div>
        <b><span>Banca:</span></b><span>{{ edital.nome_banca }}</span>
      </div>
      <!-- <br>
      <div>
        <b><span>Valor do edital: </span></b><span>R$ {{ edital.valor }}</span>
      </div> 
      <br>-->
      <div>
        <b><span>Validade:</span></b>
        <span>{{ edital.vencimento | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>
    <br>
    <div class="footer">
      <a [href]="edital.link" target="_blank">
        <button style="margin-bottom: 20px;" mat-raised-button class="consultar-btn vejaMais">VEJA MAIS</button>
      </a>
    </div>
  </div>
</div>
<div class="pagination-controls">
  <button mat-stroked-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button mat-stroked-button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
</div>
<div>
  <div class="receberEmail">
    <button (click)="openPopup()" mat-raised-button class="consultar-btn recebeEditaisBtn"
      style="margin: 10px 0px 0px 10px; height: 40px; margin-bottom: 20px;">RECEBER EDITAIS EM PRIMEIRA MÃO</button>
  </div>
</div>
