<div class="container-fluid">
  <div style="display: flex;" class="header d-flex justify-content-end align-items-center bg-dark p-2">
    <button (click)="openPopup()" mat-raised-button>
      RECEBER EDITAIS EM PRIMEIRA MÃO</button>
    <div class="icones">
      <span>Contatos: </span>
      <a href="https://www.facebook.com" target="_blank" class="text-white mx-1">
        <img src="assets/icons/facebookIcon.png" alt="Facebook" class="icon-img">
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-white mx-1">
        <img src="assets/icons/instagramIcon.png" alt="Instagram" class="icon-img">
      </a>
      <a href="https://wa.me/seunumerodetelefone" target="_blank" class="text-white mx-1">
        <img src="assets/icons/whatsappIcon.png" alt="WhatsApp" class="icon-img">
      </a>
    </div>
  </div>
</div>
<div class="titulo text-center" style="display: flex; justify-content: center;">
  <h1 class="tipoTitulo">SENAC CRAWLERS</h1>
  <img style="width: 150px; height: 150px; margin-left: -30px;" src="https://png.pngtree.com/png-vector/20220908/ourmid/pngtree-spider-logo-vector-element-web-design-vector-png-image_39152260.png">
</div>
<div class="receberEmail">
</div>
<div class="opcoes">
  <div class="filters-container d-flex justify-content-between">
    <mat-form-field class="no-padding" appearance="fill" style="flex: 1; margin-right: 10px;">
      <mat-select [(ngModel)]="selectedBanca">
        <mat-option value="" disabled>BANCA</mat-option>
        <mat-option *ngFor="let banca of bancas" [value]="banca">{{banca}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="no-padding" appearance="fill" style="flex: 2;">
      <mat-label for="filtrarResultados">Filtrar por nome da banca, descrição ou título</mat-label>
        <input name="filtrarResultados" id="filtrarResultados" matInput placeholder="Digite o nome da banca" [(ngModel)]="filtrarResultados">
    </mat-form-field>

    <button style="margin-bottom: 20px;" mat-raised-button class="consultar-btn"
      style="margin: 10px 0px 0px 10px; height: 40px;">CONSULTAR</button>
  </div>
</div>
<br><br>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<br><br>
<div class="containerEdital">
  <div *ngFor="let edital of paginatedEditais" class="main">
    <div class="infos">
      <h2>{{ edital.titulo }}</h2>
      <br>
      <b><span>Descrição:</span></b>
      <article>
        {{ edital.descricao }}
      </article>
      <br>
      <div class="description">
        <div>
          <b><span>Banca:</span></b><span>{{ edital.nome_banca }}</span>
        </div>
        <div>
          <b><span>Data de Publicação:</span></b>
          <span>{{ edital.data_publicacao | date : 'dd/MM/yyyy'  }}</span>
        </div>
        <div>
          <b><span>Validade:</span></b>
          <span>{{ edital.vencimento | date : 'dd/MM/yyyy' }}</span>
        </div>
        <!-- <div>
          <b><span>Valor:</span></b>
          <span>{{ edital.valor | currency:'BRL':'symbol'}}</span>
        </div> -->
      </div>
      <br>
      <div class="footer">
        <a [href]="edital.link" target="_blank">
          <button style="margin-bottom: 20px;" mat-raised-button class="consultar-btn vejaMais">VEJA MAIS</button>
        </a>
      </div>
    </div>
    <div class="logoEmpresas">
      <img class="logoEmpresas" [src]="retornaImagem(edital.nome_banca)" [alt]="edital.nome_banca">
    </div>
  </div>
</div>
<div class="pagination-controls">
  <button mat-stroked-button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button mat-stroked-button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
</div>
<br>
<!-- <div>
  <div class="receberEmail">
    <button (click)="openPopup()" mat-raised-button class="consultar-btn recebeEditaisBtn"
      style="margin: 10px 0px 0px 10px; height: 40px; margin-bottom: 40px;">RECEBER EDITAIS EM PRIMEIRA MÃO</button>
  </div>
</div> -->
